*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
    background: #D6D6D6
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
